/* Importando uma fonte mais moderna */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif; /* Troca a Helvetica por algo mais premium */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0d17; /* Um "quase preto" azulado, mais moderno que o cinza */
    color: #ffffff;
    line-height: 1.6;
}